#Tblog {
  text-align: center;
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 54px;
  letter-spacing: 2px;
  font-weight: 900;
  display: inline;
}
body {
  background-color: rgb(81, 239, 75);
  border-radius: 10px;
}
header {
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  display: flex;
  top: 0;
  align-items: center;
}
form {
  padding-top: 10px;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(15, 56, 15);
}
button {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.navigation {
  color: rgb(66, 61, 61);
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
}

main {
  text-align: center;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.extx {
  font-size: 24px;
  padding: 10px 10px;
  width: 100%;
}
.flexcss {
  display: flex;
  flex-direction: column;
}
footer {
  display: block;
  bottom: 0;
  padding: 0px 0px;
  position: fixed;
  text-align: center;
  font-size: 15px;
  margin: 0;
  width: 100%;
}
